<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script>
        $(document).ready(function update_input_number_text() {

            const $valueSpan = $('.valueSpan');
            const $value = $('input[name="input_number_of_gesture"]');
            $valueSpan.html($value.val());
            $value.on('input change', () => {

                $valueSpan.html($value.val());
            });
        });

        $(document).ready(function update_values() {

            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/_initdata",
                function(data) {
                    $('input[name="input_name"]').val(data.participant_name);

                    $('textarea[name="input_gesture_set"]').text(data.target_gestures);

                    $('#input_number_of_gesture').val(data.trial_numbers);
                    $('.valueSpan').html(data.trial_numbers);

                });
        });

    </script>
</head>
<body>
    <title>Jins Gesture Toolkit</title>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Data collection<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="review_data">Data Review</a>
                <a class="nav-item nav-link" href="training">Training</a>
                <a class="nav-item nav-link  " href="online_test">Online Testing</a>
<!--                <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
            </div>
        </div>
    </nav>


<!--
    <div class="jumbotron text-center data-collection">
        <h1>Jins Gesture Toolkit</h1>
        <h2>-Data collection mode-</h2>
    </div>
-->
    <div class="forms centerContainer">
        <form action="" method="POST">
            <div class="form-group">
                <label for="participant_name" class="font-weight-bold">1. Name:</label>
                <input type="text" class="form-control" id="participant_name" name="input_name" aria-describedby="name_help" placeholder="PX" required>
            </div>
            <div class="form-group">
                <label for="target_gesture_set" class="font-weight-bold">2. Target Gestures</label>
                <textarea rows="3" class="form-control" name="input_gesture_set">Nothing,Left Flick,Left Push,Right Flick,Right Push,Rubbing</textarea>
                <small id="gesture_set_help" class="form-text text-muted">-seperate each name with ","(comma) <br>-type less than 5 gestures at once</small>
            </div>
            <div class="form-group ">
                <label for="target_gesture_set" class="font-weight-bold">3. Select number of trials for each gesture</label>
                <br>
                <input type="range" class="custom-range slider-trials" name="input_number_of_gesture" id="input_number_of_gesture" min="0" max="20" value="10" required>
                <span class="font-weight-bold text-primary ml-2 number-span valueSpan">0</span>
            </div>
            <button type="submit" name="action" value="startGathering" class="btn btn-primary btn-lg">Start Gathering</button>

            <div class="border-top my-3"></div>
            
        </form>
    </div>

</body>
