<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script>
        $(document).ready(function() {

            const $valueSpan = $('.valueSpan');
            const $value = $('#input_number_of_gesture');
            $valueSpan.html($value.val());
            $value.on('input change', () => {

                $valueSpan.html($value.val());
            });
        });

    </script>
</head>

<body >
    <title>Jins Toolkit</title>
    <div class="jumbotron text-center">
        {% if name %}
        <h1>Hello {{ name }}!<br>Jins Gesture Toolkit</h1>
        {% else %}
        <h1>Jins Gesture Toolkit</h1>
        {% endif %}
    </div>

    


    <div class="forms centerContainer">
        <form method="POST">
            <div class="form-group">
                <label for="participant_name" class="font-weight-bold">1. Name:</label>
                <input type="text" class="form-control" name="input_name" aria-describedby="name_help" placeholder="P0" required>
            </div>

            <div class="form-group">
                <label for="target_gesture_set" class="font-weight-bold">2. Target Gestures</label>

                <textarea rows="3" class="form-control" name="input_gesture_set">Nothing,Left Flick,Left Push,Right Flick,Right Push,Rubbing</textarea>
                <small id="gesture_set_help" class="form-text text-muted">-seperate each name with ","(comma) <br>-type less than 5 gestures at once</small>

            </div>


            <div class="form-group">
                <label for="target_gesture_set" class="font-weight-bold">3. Select number of trials for each gesture</label>
                <br>
                <input type="range" class="custom-range w-75" name="input_number_of_gesture" id="input_number_of_gesture" min="0" max="20" value="5" required>
                <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan">0</span>

            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
