<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

    <script>
        const LINE_COLOR = {
            'EOG_L': "#C00000",
            'EOG_R': "#0000C0",
            'EOG_H': "#C000C0",
            'EOG_V': "#00C0C0",

            'GYRO_X': "#ED553B",
            'GYRO_Y': "#F6D55C",
            'GYRO_Z': "#3CAEA3",

            'ACC_X': "#ED553B",
            'ACC_Y': "#F6D55C",
            'ACC_Z': "#3CAEA3"
        };
        const MIN_MAX = {
            'ACC': [-36000, 36000],
            'GYRO': [-36000, 36000],
            'EOG': [-1200, 1200]
        };

        $(document).ready(function() {


            const eog_config = {

                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                            label: "EOG_L",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['EOG_L'],
                            borderColor: LINE_COLOR['EOG_L'],
                            data: [],
                            fill: false,

                        },
                        {
                            label: "EOG_R",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['EOG_R'],
                            borderColor: LINE_COLOR['EOG_R'],
                            data: [],
                            fill: false,

                        },
                        {
                            label: "EOG_H",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['EOG_H'],
                            borderColor: LINE_COLOR['EOG_H'],
                            data: [],
                            fill: false,

                        },
                        {
                            label: "EOG_V",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['EOG_V'],
                            borderColor: LINE_COLOR['EOG_V'],
                            data: [],
                            fill: false,

                        }
                    ],
                },
                options: {
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,

                    title: {
                        display: true,
                        text: 'Jins Stream'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {

                        xAxes: [{
                            display: true
                        }],
                        yAxes: [{
                            display: false
                        }, {
                            ticks: {
                                max: MIN_MAX['EOG'][1],
                                min: MIN_MAX['EOG'][0]
                            }
                        }],

                    }

                }
            };


            const imu_config = {

                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                            label: "MAG_X",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['GYRO_X'],
                            borderColor: LINE_COLOR['GYRO_X'],
                            data: [],
                            fill: false,
                        },
                        {
                            label: "MAG_Y",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['GYRO_Y'],
                            borderColor: LINE_COLOR['GYRO_Y'],
                            data: [],
                            fill: false,
                        },
                        {
                            label: "MAG_Z",
                            lineTension: 0,
                            backgroundColor: LINE_COLOR['GYRO_Z'],
                            borderColor: LINE_COLOR['GYRO_Z'],
                            data: [],
                            fill: false,
                        }
                    ],
                },
                options: {
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,

                    title: {
                        display: true,
                        text: 'IMU Stream'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {

                        xAxes: [{
                            display: true
                        }],
                        yAxes: [{
                            display: false
                        }, {
                            ticks: {
                                max: 300,
                                min: -300
                            }
                        }],

                    }

                }
            };

            var eog_ctx = document.getElementById('eog-canvas').getContext('2d');
            const lineChart = new Chart(eog_ctx, eog_config);

            const eog_source = new EventSource("/eog-data");
            eog_source.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (eog_config.data.labels.length === 400) {
                    eog_config.data.labels.shift();
                    eog_config.data.datasets[0].data.shift();
                    eog_config.data.datasets[1].data.shift();
                    eog_config.data.datasets[2].data.shift();
                    eog_config.data.datasets[3].data.shift();
                }
                eog_config.data.labels.push(data.TIME);

                eog_config.data.datasets[0].data.push(data.EOG_L);
                eog_config.data.datasets[1].data.push(data.EOG_R);
                eog_config.data.datasets[2].data.push(data.EOG_H);
                eog_config.data.datasets[3].data.push(data.EOG_V);
                //                config.data.datasets[0].data.push(data.EOG_L);

                lineChart.update(0);
            }

            var imu_ctx = document.getElementById('imu-canvas').getContext('2d');
            const lineChart_imu = new Chart(imu_ctx, imu_config);
            const imu_source = new EventSource("/imu-data");
            imu_source.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (imu_config.data.labels.length === 200) {
                    imu_config.data.labels.shift();
                    imu_config.data.datasets[0].data.shift();
                    imu_config.data.datasets[1].data.shift();
                    imu_config.data.datasets[2].data.shift();

                }
                imu_config.data.labels.push(data.TIME);

                imu_config.data.datasets[0].data.push(data.MAG_X);
                imu_config.data.datasets[1].data.push(data.MAG_Y);
                imu_config.data.datasets[2].data.push(data.MAG_Z);


                lineChart_imu.update(0);
            }



        });

    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="height: 400px;">
                        <canvas id="eog-canvas"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="height: 400px;">
                        <canvas id="imu-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
