<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>

</head>

<body >
    <title>Jins Gesture Toolkit</title>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Data collection</a>
                <a class="nav-item nav-link active" href="#">Data Review<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="training">Training</a>
                <a class="nav-item nav-link" href="online_test">Online Testing</a>
            </div>
        </div>
    </nav>
    



    <div class="forms centerContainer">
        <form action="" method="POST">
            <div class="form-group">
                <label for="target_data_selection" class="font-weight-bold">1. Select target Data:</label>
                <select type="text" class="form-control" id="target_data_selection" required>
                    {% for one_exp in available_exp %}
                    <option value="{{one_exp}}" SELECTED>{{one_exp}}</option>"
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="segment_type" class="font-weight-bold">2. Select segmentation type:</label>
                <select type="text" class="form-control" id="segment_type" required>
                    <option>Basic(1s Fixed window)</option>
                    <option>Full</option>
                    <option>Fixed window</option>
                </select>
            </div>

            <!-- <div class="form-group">
                <label for="target_gesture_set" class="font-weight-bold">2. Target Gestures</label>
                <textarea rows="3" class="form-control" name="input_gesture_set">Nothing,Left Flick,Left Push,Right Flick,Right Push,Rubbing</textarea>
                <small id="gesture_set_help" class="form-text text-muted">-seperate each name with ","(comma) <br>-type less than 5 gestures at once</small>
            </div>
            <div class="form-group ">
                <label for="target_gesture_set" class="font-weight-bold">3. Select number of trials for each gesture</label>
                <br>
                <input type="range" class="custom-range slider-trials" name="input_number_of_gesture" id="input_number_of_gesture" min="0" max="20" value="10" required>
                <span class="font-weight-bold text-primary ml-2 number-span valueSpan">0</span>
            </div> -->
            <button type="submit" name="action" value="startReview" class="btn btn-primary btn-lg">Start Review</button>

            <div class="border-top my-3"></div>

        </form>
    </div>
    </body>
