<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    
    <script>
        $(document).ready(function update_charts() {
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/_gestureplot",
                function(data) {
                    var el = document.getElementById('plot_charts');
                    while( el.hasChildNodes() ){
                        el.removeChild(el.lastChild);
                    }
                    for (one_gesture of data.gestures_with_all_trials){
                        add_one_chart_list(one_gesture.name, one_gesture.trials);
                        plot_one_gesture_charts(one_gesture.name, one_gesture.trials);
                        document.getElementById(one_gesture.name).addEventListener("mousewheel", horizontal_wheel);
                    }
                });
        });
        
        
        
        var current_dict = {};
        // Pixel increment you wish on each wheel spin.
        var ScrollX_pixelPer = 10;
        function horizontal_wheel (e) {
            e.preventDefault();

            // Get the deltaY (always +/- 33.33333206176758) and multiply by the pixel increment you wish.
//            var delta = ScrollX_pixelPer*(parseInt(e.originalEvent.deltaY)/33);
            var delta = ScrollX_pixelPer*(parseInt(e.deltaY)/33);
            var this_id = $(this).attr("id")
            if(!(this_id in current_dict)){
                current_dict[this_id] = 0;
            }

            // Increment/decrement current.
            current_dict[this_id] = Math.min(current_dict[this_id]+delta, $(this).get(0).scrollWidth-$(this).width());
            current_dict[this_id] = Math.max(current_dict[this_id], 0);

            // Apply the new position.
            $(this).scrollLeft(current_dict[this_id] );
        }
        
        
        function add_one_chart_list(name, trials){
            var append_str = '\
<div>\
    <h3>'+name+'</h3>\
    <div id="'+name+'"class="row flex-nowrap horizontal-scroll plot_div">\
';
            for( one_trial of trials) {
                append_str += '\
        <div class="flex-column">\
            <div class="card card-block card-plot" >\
                <div class="card-body">\
                    <h5 class="card-title">'+one_trial.id+'</h5>\
                    <canvas id="'+name+one_trial.id+'" style="height:400; width:400" ></canvas>\
                </div>\
            </div>\
        </div>';
                     
            }
            append_str += '</div>\n</div>';

            $(append_str ).appendTo( "#plot_charts" );  
        }
        
        function plot_one_gesture_charts(name, trials){
            var one_trial = trials[0]
            
            for (one_trial of trials){
        
                var dataset_ = [];
                for (var key_ in one_trial.sensor_vals){
                    dataset_.push({
                      fillColor: "rgba(255,255,255,0)",
//                      strokeColor: "rgba(151,187,205,1)",
//                      pointColor: "rgba(151,187,205,1)",
//                      pointStrokeColor: "#fff",
//                      pointHighlightFill: "#fff",
//                      pointHighlightStroke: "rgba(151,187,205,1)",
                      bezierCurve : false,
                      data : one_trial.sensor_vals[key_]});
                }
                var barData = {
                    labels : one_trial.tick_label,
                    datasets :dataset_
                }
                Chart.defaults.global.animationSteps = 50;
                Chart.defaults.global.tooltipYPadding = 16;
                Chart.defaults.global.tooltipCornerRadius = 0;
                Chart.defaults.global.tooltipTitleFontStyle = "normal";
                Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
                Chart.defaults.global.animationEasing = "easeOutBounce";
                Chart.defaults.global.responsive = false;
                Chart.defaults.global.scaleLineColor = "black";
                Chart.defaults.global.scaleFontSize = 16;

                // get bar chart canvas
                var mychart = document.getElementById(name+one_trial.id).getContext("2d");

                var steps = 10;
                var max = one_trial.max;
                // draw bar chart
                var LineChartDemo = new Chart(mychart).Line(barData, {
                                                                        scaleOverride: true,
                                                                        scaleSteps: steps,
                                                                        scaleStepWidth: Math.ceil(max / steps),
                                                                        scaleStartValue: 0,
                                                                        scaleShowVerticalLines: true,
                                                                        scaleShowGridLines : true,
                                                                        barShowStroke : true,
                                                                        scaleShowLabels: true,
                                                                        bezierCurve: false,
                                                                        });
                
            }
        }
      

    </script>

</head>

<body >
    <title>Jins Gesture Toolkit</title>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Data collection</a>
                <a class="nav-item nav-link active" href="#">Data Review<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="training">Training</a>
                <a class="nav-item nav-link" href="online_test">Online Testing</a>
            </div>
        </div>
    </nav>
    



    <div class="forms centerContainer">
        <form action="" method="POST">
            <div class="form-group">
                <label for="target_data_selection" class="font-weight-bold test">1. Select target Data:</label>
                <select type="text" class="form-control" id="target_data_selection" name="target_data_selection">
                    {% for one_exp in available_exp %}
                    <option value="{{one_exp}}" SELECTED>{{one_exp}}</option>"
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="segment_type" class="font-weight-bold">2. Select segmentation type:</label>
                <select type="text" class="form-control" id="segment_type" name="segment_type">
                    <option>Basic(1s Fixed window)</option>
                    <!--
                    <option>Full</option>
                    <option>Fixed window</option>
-->
                </select>
            </div>
            <button type="submit" name="action" value="startReview" class="btn btn-primary btn-lg">Run Segmentation</button>
            <div class="border-top my-3"></div>

        </form>
        <div class="form-group">
            <label for="target_data_selection" class="font-weight-bold test">1. Select segmented data to review:</label>
            <select type="text" class="form-control" id="target_data_selection" name="target_data_selection">
                {% for one_exp in available_exp %}
                <option value="{{one_exp}}" SELECTED>{{one_exp}}</option>"
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary btn-lg">Start Review</button>
    </div>
    
    
    <div id="plot_charts" class="plot_charts">
    </div>
 
    

    
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> JY Lee</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
