<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>

</head>

<body >
    <title>Jins Gesture Toolkit</title>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="forms collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Data collection</a>
                <a class="nav-item nav-link active" href="#">Data Review<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="training">Training</a>
                <a class="nav-item nav-link" href="online_test">Online Testing</a>
            </div>
        </div>
    </nav>
    


</body>
