<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>

</head>

<body >
    <title>Jins Gesture Toolkit</title>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Data collection</a>
                <a class="nav-item nav-link" href="review_data">Data Review</a>
                <a class="nav-item nav-link active" href="#">Training<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="online_test">Online Testing</a>
            </div>
        </div>
    </nav>
    
    <div class="forms centerContainer">
        
        <div class="form-group">
            <label for="target_data_selection" class="font-weight-bold test">1. Select segmented data to Train/Test:</label>
            <select type="text" class="form-control" id="target_data_selection" name="target_data_selection">
                {% for one_seg in available_seg %}
                <option value="{{one_seg}}" SELECTED>{{one_seg}}</option>"
                {% endfor %}
            </select>
        </div>
        
        
        <div class="form-group">
            <label for="target_data_selection" class="font-weight-bold test">2. Choose pre-processing technique:</label>
            
        </div>
        
        
        
        
        <button  name="action" value="startReview" class="btn btn-primary btn-lg">Start Review</button>
    </div>
    


</body>
