<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jins_toolkit.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script>
        function send_trainInfo(){
            var checked_filter = get_all_checked('filter_checkbox');
            var checked_model = get_all_checked('model_radio');
            var checked_raw_data_input = get_all_checked('rawCheckbox');
            var checked_target_axis = get_all_checked('targetaxisCheckbox');
            var checked_features = get_all_checked('single_feature_checkbox');

            var sending_data = {"selected_train_data": $('#target_data_selection').find(":selected").text(),
                                   "checked_filter": checked_filter,
                                   
                                   "checked_model": checked_model,
                                   "checked_raw_data_input": checked_raw_data_input,
                                   
                                   "checked_target_axis": checked_target_axis,
                                   "checked_features": checked_features};
            
            $.post("/_traintest", sending_data);
            setTimeout(get_train_result,2000)
        }
        function send_model_saveInfo(){
            var checked_filter = get_all_checked('filter_checkbox');
            var checked_model = get_all_checked('model_radio');
            var checked_raw_data_input = get_all_checked('rawCheckbox');
            var checked_target_axis = get_all_checked('targetaxisCheckbox');
            var checked_features = get_all_checked('single_feature_checkbox');

            var sending_data = {"selected_train_data": $('#target_data_selection').find(":selected").text(),
                                   "checked_filter": checked_filter,
                                   
                                   "checked_model": checked_model,
                                   "checked_raw_data_input": checked_raw_data_input,
                                   
                                   "checked_target_axis": checked_target_axis,
                                   "checked_features": checked_features};
            
            $.post("/_savemodel", sending_data);
            setTimeout(get_model_name,2000)
        }
        
        
        function get_all_checked(el_name){
            var checkboxes = document.getElementsByName(el_name);
            var checkboxesChecked = [];
            var checkboxesChecked_str = ""
            // loop over them all
            for (var i=0; i<checkboxes.length; i++) {
                // And stick the checked ones onto an array...
                if (checkboxes[i].checked) {
                    checkboxesChecked.push(checkboxes[i].value);
                    if(checkboxesChecked_str!=""){
                        checkboxesChecked_str += ",";
                    }
                    checkboxesChecked_str += checkboxes[i].value;
                }
            }
            return checkboxesChecked_str;
        }
        function get_train_result(){
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/_traintest",
                function(data) {
//                    console.log("get result:"+ data.result);
                    var obj = $("#result_str").html(data.result);
//                    obj.html(obj.html().replace(/\n/g,'<br/>'));
                });
        }
        function get_model_name(){
            $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
            $.getJSON($SCRIPT_ROOT + "/_savemodel",
                function(data) {
//                    console.log("get result:"+ data.result);
                    var obj = $("#result_str").html("Model saved:"+data.result);
//                    obj.html(obj.html().replace(/\n/g,'<br/>'));
                });
        }
        
    
    </script>

</head>

<body >
    <title>Jins Gesture Toolkit</title>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jins Gesture Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Data collection</a>
                <a class="nav-item nav-link" href="review_data">Data Review</a>
                <a class="nav-item nav-link active" href="#">Training<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="online_test">Online Testing</a>
            </div>
        </div>
    </nav>
    
    <div class="forms centerContainer">
        
        <div class="form-group">
            <label for="target_data_selection" class="font-weight-bold h3">1. Select segmented data to Train/Test:</label>
            <select type="text" class="form-control" id="target_data_selection" name="target_data_selection">
                {% for one_seg in available_seg %}
                <option value="{{one_seg}}" SELECTED>{{one_seg}}</option>"
                {% endfor %}
            </select>
        </div>
        
        
        <div class="form-group">
            <label  class="font-weight-bold h3">2. Choose pre-processing technique:</label>
            <br>
            
            
            <p class="font-italic">-Filters</p>
            <div class="row">
                {% for one_filter in available_filter %}
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filter_checkbox" id="{{one_filter}}Checkbox" value="{{one_filter}}" >
                        <label class="form-check-label" for="{{one_filter}}Checkbox">{{one_filter}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            
<!--
            <p class="font-italic">-Resampling</p>
            <div class="row">
                <div class="card col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="movavgCheckbox" value="option1">
                        <label class="form-check-label" for="movavgCheckbox">Moving Average</label>
                    </div>
                </div>
            </div>
            <hr>
-->
        </div>
        
        
        <div class="form-group">
            <label class="font-weight-bold h3">3. Choose model to Train/Test:</label>
            <br>
            
            
            <div class="row">
                {% for one_model in available_model %}
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        {% if one_model == "RDFclassifier" %}
                        <input class="form-check-input" type="radio" name="model_radio" id="{{one_model}}Checkbox" value="{{one_model}}" checked="checked" >
                        {% else %}
                        <input class="form-check-input" type="radio" name="model_radio" id="{{one_model}}Checkbox" value="{{one_model}}">
                        {% endif %}
                        <label class="form-check-label" for="{{one_model}}Checkbox">{{one_model}}</label>
                    </div>
                </div>
                {% endfor %}
                
                
                
<!--
                <div class="card col-sm-4">
                    <div class="form-check form-check-inline radio">
                        <input class="form-check-input" type="radio" name="model_select_radio" id="model_dtw_Checkbox" value="model_dtw">
                        <label class="form-check-label" for="model_mlp_Checkbox">Dynamic time warping</label>
                    </div>
                </div>
-->
            </div>
            <hr>
            
        </div>
        
        
        <div class="form-group">
            <label class="font-weight-bold h3">4.Choose input for model:</label>
            <br>
            
            <p class="font-italic h4">-Raw data input</p>
            <div class="row">
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_eog_Checkbox" value="EOG">
                        <label class="form-check-label" for="input_eog_Checkbox">EOG</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_eogFFT_Checkbox" value="EOG_fft" checked="True">
                        <label class="form-check-label" for="input_eogFFT_Checkbox">EOG(FFT)</label>
                    </div>
                </div>

                
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_acc_Checkbox" value="ACC">
                        <label class="form-check-label" for="input_acc_Checkbox">ACC</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_accFFT_Checkbox" value="ACC_fft">
                        <label class="form-check-label" for="input_accFFT_Checkbox">ACC(FFT)</label>
                    </div>
                </div>
                    

                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_gyro_Checkbox" value="GYRO">
                        <label class="form-check-label" for="input_gyro_Checkbox">GYRO</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="rawCheckbox" id="input_gyroFFT_Checkbox" value="GYRO_fft">
                        <label class="form-check-label" for="input_gyroFFT_Checkbox">GYRO(FFT)</label>
                    </div>
                </div>
                
                
            </div>
            <hr>
            
            
            
            <p class="font-italic h4">-Single Axis Features</p>
            
            <p class="font-italic h6">>Target Axis</p>
            <div class="row">
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox" id="feature_target_eog_Checkbox" checked='True' value="EOG">
                        <label class="form-check-label" for="feature_target_eog_Checkbox">EOG</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox"  id="feature_target_eogdiff_Checkbox" checked='True' value="EOG_diff">
                        <label class="form-check-label" for="feature_target_eogdiff_Checkbox">EOG(diff)</label>
                    </div>
                </div>
            
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox"  id="feature_target_acc_Checkbox" checked='True' value="ACC">
                        <label class="form-check-label" for="feature_target_acc_Checkbox">ACC</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox"  id="feature_target_accdiff_Checkbox" checked='True' value="ACC_diff">
                        <label class="form-check-label" for="feature_target_accdiff_Checkbox">ACC(diff)</label>
                    </div>
                </div>

                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox"  id="feature_target_gyro_Checkbox" value="GYRO">
                        <label class="form-check-label" for="feature_target_gyro_Checkbox">GYRO</label>
                    </div>
                </div>
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="targetaxisCheckbox"  id="feature_target_gyrodiff_Checkbox" value="GYRO_diff">
                        <label class="form-check-label" for="feature_target_gyrodiff_Checkbox">GYRO(diff)</label>
                    </div>
                </div>
       
            </div>
            
            <p class="font-italic h6">>Features</p>
            <div class="row">
                {% for one_feature in available_features %}
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="single_feature_checkbox" id="{{one_feature}}Checkbox" value="{{one_feature}}" checked='True'>
                        <label class="form-check-label" for="{{one_feature}}Checkbox">{{one_feature}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            
            
            
            <p class="font-italic h4">-Multi-axis Features</p>
            <p  class="font-italic">in progress...</p>
<!--
            <div class="row">
                <div class="card col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="highpassCheckbox" value="option1">
                        <label class="form-check-label" for="highpassCheckbox"><i>in progress....</i></label>
                    </div>
                </div>
            </div>
-->
            <hr>
        </div>
        
        
        <button  onclick="send_trainInfo()" name="action" value="startTraining" class="btn btn-primary btn-lg">Start Training</button>
        <button  onclick="send_model_saveInfo()" name="action" value="startTraining" class="btn btn-secondary btn-lg">Save Model</button>
<!--        <span>Number of Selected Features: NN  </span>-->

    </div>
    
    <hr class="w-50">
    <hr class="w-50">
    <div class="forms centerContainer">
        <button  onclick="get_train_result()" name="action" value="refreshResult" class="btn btn-primary btn-lg">Refresh Result</button>
        <p class="h4">Results: </p>
        <span id="result_str">nothing yet....</span>
    </div>
    
    


</body>
