body {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;

}


.forms {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}



.slider-trials {
    width: 90%;
}

.number-span {
    font-size: 1.8em;
    width: 10%;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
}



.data-review {
    background: #ffb599;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.data-collection {
    background: #b5ddff;

}


.full-contatiner{
    max-width: 1800px;
}